/* Basic style */
body {
    font-family: Georgia, serif;
    margin: 20px;
    padding: 0;
    line-height: 1.5;
    background-color: rgb(12, 92, 12);
    background-color: linear-gradient (90deg, rgb(5, 35, 5) 100%,);
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

/* Table style */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(193, 190, 190);
    box-shadow: 0 2px 5px #0000001a;
}

th,
td {
    border: 3px solid #434343;
    padding: 8px;
}

th {
    text-align: left;
    font-size: 18px;
}

/* Link style */
a {
    color: crimson;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    transition: 0.4s ease-in-out;
    color: rgb(163, 15, 45);
}

/* styling for book_detail.html */
h1 {
    margin-top: 0;
    font-size: 2em;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 30px;
    border: 1px solid #434343;
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    box-shadow: 0 8px 10px rgba(0, 227, 42, 0.415);
}

p {
    margin-bottom: 10px;
}

/* Block-level elements */

.classic-indicator {
    font-style: italic;
    color: darkred;
}


/* Button styles */

button {
    background-color: rgb(0, 89, 255);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(0, 47, 105);
}